html, body {
    height: 100%;
    margin: 0;
}

h1 {
    margin: 0;
}

body {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputcontainer, #containerWrapper{
    display: flex;
    justify-content: center;
}

#gridContainer {
    border: 1px solid black;
    background: white;
    display: grid;
    height: 750px;
    width: 750px;
}